<aside class="blog-aside">
  <section id="top-tag-list" class="tag-list--top">
    <header class="blog-aside__header--top-tags">
      <h5 class="blog-aside__title">Top Tags</h5>
    </header>
  </section>
  <section class="featured-posts__blog">
    <header class="blog-aside__header--featured-posts">
      <h5 class="blog-aside__title">Featured Posts</h5>
    </header>
    <ul>
      {% assign counter = 0 %}
      {% for post in site.posts %}
        {% if post.featured == true %}
          {% assign counter=counter | plus:1 %}
          {% if counter <= 3 %}
            <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
          {% else %}
            {% break %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  <section class="tag-list--all">
    <header class="blog-aside__header--tag-list">
      <h5 class="blog-aside__title">All Tags</h5>
    </header>
    <ul class="tag-list__list">
      {% for page in site.pages %}
        {% if page.category contains 'tag_page' %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</aside>
